{% extends 'base.html.twig' %}

{% block title %}Auction index{% endblock %}

{% block body %}
    {% set today = app.session.get("today") %}
    <h1>Auction index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Category</th>
            <th>Current Bids</th>
            <th>Status</th>
            {#{% if is_granted('ROLE_ADMIN') %}#}
                <th>actions</th>
            {#{% endif %}#}
        </tr>
        </thead>
        <tbody>
        {% for auction in auctions %}
            <tr>
                <td>{{ auction.id }}</td>
                <td>{{ auction.startDateTime|date('d-m-y') }}</td>
                <td>{{ auction.item }}</td>
                <td>{{ auction.quantity }}</td>
                <td>
                    <a href="{{ url('category_show', {'id': auction.category.id}) }}">
                        {{ auction.category }}</a>
                </td>
                <td>{{ auction.currentBid }}</td>

                <td>
                    {% if auction.completed or date(auction.deadline) < date(today)%}
                    <div class="finsihed">
                        Auction Finished
                        <br>
                        {% else %}
                            {% if date(today) < date(auction.startDateTime) %}
                            <div class="scheduled">Not Started Yet</div>
                            {% else %}
                                <div class="open">Bid Open</div>
                                {% endif %}
                            {% endif %}
                    </div>
                </td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('auction_show', {'id': auction.id}) }}">show</a>
                        <a href="{{ path('auction_edit', {'id': auction.id}) }}">edit</a>
                    </td>
                    {% elseif is_granted('ROLE_USER') and date(today) > date(auction.startDateTime) and date(auction.deadline) > date(today) %}
                        {#{% if is_granted('IS_FULLY_AUTHENTICATED') %}#}
                        <td>
                            <form method="post"
                                  action="{{ path('auction_bid') }}">
                            Make Bid:
                                <input type="number" name="newBid">
                                <br>
                                <input type="submit">
                            </form>
                        </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('auction_new') }}">Create new</a>
    {% endif %}
{% endblock %}
