{% extends 'base.html.twig' %}

{% block title %}UserBids index{% endblock %}

{% block body %}
    <h1>My Bids</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Mybid</th>
                <th>Previous bid</th>
                {#<th>Current top Bid</th>#}
            </tr>
        </thead>
        <tbody>
        {% for user_bid in user_bids %}
            <tr>
                <td>{{ user_bid.id }}</td>
                <td>{{ user_bid.bidItem }}</td>
                <td>{{ user_bid.mybid }}</td>
                <td>{{ user_bid.currentbid }}</td>
                {#<td>{{ auction.currentBid }}</td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {#<tr>#}
            {#<td>#}
                {#{{ auction.currentBid }}#}
            {#</td>#}
        {#</tr>#}
        </tbody>
    </table>

{% endblock %}
